.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

/* MY STYLING */
#sign-in-card{
  background: #f39c12;
  text-align: center;
}
.sign-in-card{
  margin-top: 15%;
  /* background: #f39c12; */
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
  border-radius: .25em;
}
select {
  flex: 1;
  padding: 0 .5em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #34495e;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}
/* Transition */
.select:hover::after {
  color: #f39c12;
}

.sign-in-btn{
  margin-top: 2%;
}

.tweet-info {
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.avatar {
  height: 50px;
  border-radius: 25px;
  margin: 10px;
}
.poll-container{
  margin: 3%;
  border: 2px solid #34495e;
  border-radius: 4px;
  padding: 2% auto 2%;
}
.option-pargh{
  border: 2px solid #34495e;
}